@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), sans-serif;
  --font-heading: var(--font-poppins), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;

  /* Colores Base de la Marca */
  --color-brand-navy: #1C2539;
  --color-navy: #1C2539;
  --color-brand-gray: #707378;
  --color-corporate-gray: #707378;

  /* Colores de Acento y Estados */
  --color-brand-green: #175E38;
  --color-estate-green: #175E38;
  --color-brand-red: #CC1A22;
  --color-estate-red: #CC1A22;

  /* Colores Neutros y Estructura */
  --color-brand-light: #F8FAFC;
  --color-brand-white: #FFFFFF;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  background-color: var(--color-brand-light);
  color: var(--color-brand-navy);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
  color: var(--color-brand-navy);
}